{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<title>Chat</title>
	<link rel="stylesheet" type="text/css" href="{% static 'c.css' %}">
</head>
<body>
	<div class="container">
		<!-- левая часть -->
		<div class="leftSide">
			
			<div class="header">
				<div class="userimg">
					<div class="imgbx">
						<img src="/media/{{ chat.icon }}" class="cover">
					</div>
						
				</div>
				<div class="imgText">
					<form method="POST" >
						{% csrf_token %}
					<h4><input type="text" placeholder="{{chat.title}}" name="chat_title"></h4>
					<div class="checkbox">
      				<input type="checkbox" id="click" name="chat_status"> <label for="click" class="text"> Privat  </label>
    				</div>
				</div>
				 
				<div class="window">
					<a href="../" id= "black"><li><ion-icon name="arrow-back-circle-outline"></ion-icon></li></a>
						<button type="submit" id="save">Save</button>
					</form>
			</div>

			</div>
				
			<!-- список user -->
			<div class="chatlist">
				{% for user in users %}
				<div class="block ">
					<div class="imgbx">
						<img src="/media/{{user.icon_path}}" class="cover">
					</div>
					<div class="details">
						<div class="listHead">
							<h4>{{user.username}}
								<a href="/remove_chat_user/{{chat.title}}/{{user.username}}" style="text-decoration: none;"><button>
								<ion-icon name="trash-outline"></ion-icon>
								</button>
								</a>
							</h4>
							
						</div>
					</div>
				</div>
				{% endfor %}
					</div>
				</div>
			</div>
		</div>
</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>	
	
</body>
</html>